.home {
  padding: 12.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home h1 {
  padding: 0 12.5px;
  margin: 20px 0 0 0;
}

.noposts {
  text-align: center;
}

.noposts p {
  margin-bottom: 1.5em;
}

.noposts a {
  padding: 10px 25px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lastPosts {
  padding: 12.5px;
  display: grid;
  grid-gap: 20px;
}

@media (min-width: 1024px) {
  .lastPosts {
    grid-template-columns: 1fr 2fr 1fr;
  }
}
