.title {
  padding-bottom: 12px;
}

.highlightsPosts {
  display: grid;
  grid-gap: 20px;
}

.noposts {
  text-align: center;
}

.noposts p {
  margin-bottom: 1.5em;
}

.noposts a {
  padding: 10px 25px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lastPosts {
  height: max-content;
}

.col {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.aside {
  height: max-content;
}

.offers {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.moreOffer {
  width: max-content;
  border: 1px solid #47276c;
  border-radius: 4px;
  padding: 6px 12px;
  color: #47276c;
  align-self: center;
  cursor: pointer;
}

.moreOffer:hover {
  border: 1px solid transparent;
  background-color: #47276c;
  color: #fff;
}

@media (min-width: 1024px) {
  .highlightsPosts {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .col {
    grid-template-columns: 69% 29%;
  }
}
