.product {
  width: 100%;
  background-color: #f7f8f9;
  border-radius: 5px;
}

.product img {
  width: 100%;
  border-radius: 5px;
}

.product h3 {
  padding-bottom: 8px;
}

.offerDetails {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 12px;
  background-color: #f7f8f9;
  border-radius: 5px;
}

.categoryAndStore {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

.category {
  font-size: 0.8em;
  font-weight: bold;
  padding: 0 8px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  color: #47276c;
}

.price {
  font-size: 1.3em;
  font-weight: bold;
}

.btnOffer {
  width: max-content;
  border: 1px solid #47276c;
  border-radius: 4px;
  padding: 6px 12px;
  color: #47276c;
}

.btnOffer:hover {
  border: 1px solid transparent;
  background-color: #47276c;
  color: #fff;
}
