.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 0;
  border-radius: 5px;
  background-color: #fff;
  padding: 25px;
}

.logo {
  color: #1b1b1b;
  place-self: center;
  font-size: 1.4em;
}

strong {
  font-weight: bold;
  text-transform: uppercase;
}

.listLink {
  display: flex;
  list-style: none;
}

.listLink li {
  margin-right: 20px;
}

.active {
  border-bottom: 2px solid #47276c;
}

.search_form {
  max-width: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.search_form input {
  margin-right: 10px;
  width: 50%;
}
