body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  background-color: #f7f8f9;
}

input::placeholder,
textarea::placeholder {
  font-family: "Montserrat", sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
}

a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  transition: 0.4s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  color: #1b1b1b;
}

a {
  position: relative;
}

a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #f7ab29;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

a:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}
