.create_post {
  text-align: center;
  padding: 25px;
}

.create_post h2 {
  margin-top: 0;
  font-size: 2.2em;
}

.create_post p {
  color: #aaa;
  margin-bottom: 2em;
}

mark {
  all: unset;
  text-align: left;
  font-size: 0.8em;
  color: #ccc;
}
